<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.osarvade.buyhatke">

    <uses-permission android:name="android.permission.READ_SMS" />
    <uses-permission android:name="android.permission.RECEIVE_SMS" />
    <uses-permission android:name="android.permission.SEND_SMS" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".LoginActivity"
            android:label="@string/title_activity_login"
            android:noHistory="true"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".AllMessages"
            android:label="@string/title_activity_all_messages"
            android:launchMode="standard"
            android:noHistory="true"
            android:theme="@style/AppTheme.NoActionBar" />

        <receiver android:name="com.example.osarvade.services.SmsBrodcastReceiver">
            <intent-filter android:priority="999">
                <action android:name="android.provider.Telephony.SMS_RECEIVED" />
            </intent-filter>
        </receiver>

        <activity
            android:name="com.example.osarvade.contactmessage.SingleContactMessages"
            android:label="@string/title_activity_single_contact_messages"
            android:noHistory="true"
            android:parentActivityName=".AllMessages"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.osarvade.buyhatke.AllMessages" />
        </activity>
        <activity
            android:name="com.example.osarvade.sendmessage.SendMessage"
            android:label="@string/title_activity_send_message"
            android:parentActivityName=".AllMessages"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.osarvade.buyhatke.AllMessages" />
        </activity>
        <activity
            android:name="com.example.osarvade.services.Notification"
            android:label="@string/title_activity_notification"
            android:theme="@style/AppTheme.NoActionBar"></activity>
    </application>

</manifest>